/* Estilos generales del componente */

* {
  font-family: var(--fuente-principal);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reiniciar variables del componente */

html, body {
  margin: 0;
  padding: 0;
}

/* Estilos para el texto de bienvenida al usuario */

div.texto-bienvenida {
  padding: 1rem;
}

div.texto-bienvenida > * {
  color: var(--color-secundario);
  padding-top: 1rem;
  font-size: 1.15rem;
}
