
<!-- Estilos para el header ejecutado solamente en panel de administrador -->

<div class="admin-header">

  <!-- Logotipo de la empresa -->

  <div class="logo">
    <img src="/Logo/logo-nailsbyandrea.jpg" alt="Logotipo base NailsByAndrea">
  </div>

  <!-- Contenedor de enlaces -->

  <div class="enlaces">

    <!-- Lista de enlaces -->

    <ul>
      <li>
        <img src="./Icons/account-icon.svg" alt="Icono para editar la información de la cuenta.">
        Editar perfil
      </li>
      <li>
        <img src="/Icons/order-history-icon.svg" alt="Icono para acceder al historial de pedidos ">
        Historial de pedidos
      </li>
      <li>
        <img src="/Icons/shopping-icon.svg" alt="Icono para volver a la tienda. Salir del admin dashboard.">
        Volver a la tienda
      </li>
    </ul>

    <!-- Texto de bienvenida / explicativo al dashboard -->

  </div>

</div>
