
/* Estilos globales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente-principal);
}

/* Reiniciar valores */

html, body {
  margin: 0;
  padding: 0;
}

/* Estilos para la barra de navegación */

div.navbar {
  display: grid;
  grid-template-columns: 15% repeat(2, 42.5%);
  background-color: var(--color-principal);
  padding: 1rem;

  /* Estilo para dejar el navbar fijo */

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;
  width: 100%;

}

/* Estilos para el logotipo */

div.navbar .logotipo {
  grid-column: 1;
}

div.navbar .logotipo img {
  width: 150px;
  height: auto;
  border: 1px solid;
  border-radius: 50rem;
  margin-left: 2rem;
}

/* Estilo para el contenedor de enlaces */

div.navbar .enlaces {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para la lista desordenada */

div.navbar .enlaces ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

/* Estilo para centrar imágen + enlace de la lista */

div.navbar .enlaces ul li {
  display: flex;
  align-items: center;
  justify-content: center;

  /* Separar un poco el icono del texto */

  gap: 0.75rem;

}

/* Estilo para los elementos de la lista */

div.navbar .enlaces ul li a {
  font-size: 1rem;
  color: var(--color-secundario);
}

/* Estilo para los enlaces (<a>) */

a, a:active, a:focus, a:visited {
  text-decoration: none;
  cursor: pointer;
}

/* Estilo al pasar el ratón por encima de los enlaces */

a:hover {
  text-decoration: underline;
}

/* Estilo para el contenedor de botones */

div.navbar .botones {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Estilo para los propios botones */

div.navbar .botones button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid var(--color-secundario);
  border-radius: 5rem;
  font-size: 1rem;
  background-color: var(--color-principal);
  color: var(--color-secundario);
}

div.navbar .botones button:hover {
  cursor: pointer;
}
