<!-- Inyectar contenido para el admin header-->

<app-admin-header></app-admin-header>

<p>edit-profile works!</p>

<!-- Contenido principal del componente !-->

<main>

  <!-- Formulario para editar los campos -->

  <form (ngSubmit)="modificarUsuarioExistente()">

    <!-- Grupo para los campos de texto -->

    <div class="group texto">
      <label>Nombre de usuario: </label>
      <input type="text" [placeholder]="usuario.nombre" name="nombreUsuario" [(ngModel)]="usuarioModificado.nombre">
    </div>

    <div class="group texto">
      <label>Apellidos del usuario: </label>
      <input type="text" [placeholder]="usuario.apellidos" name="apellidosUsuario" [(ngModel)]="usuarioModificado.apellidos">
    </div>

    <!-- Grupo para el campo email -->

    <div class="group email">
      <label>Email del usuario: </label>
      <input type="email" [placeholder]="usuario.email" name="emailUsuario" [(ngModel)]="usuarioModificado.email">
    </div>

    <!-- Grupo para el campo password -->

    <div class="group password">
      <label>Password del usuario: </label>
      <input type="password" placeholder="Introduce la nueva password" name="passwordUsuario" [(ngModel)]="usuarioModificado.password">
    </div>

    <!-- Botón para enviar el formulario -->

    <div class="group submit_button">
      <button type="submit">Modificar perfil</button>
    </div>

  </form>

</main>
